:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: var(--violet);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans';  
}

h2{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    line-height: 1.5;
    font-family: Poppings;
    font-weight: 600;

}

p{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px; 
}

button{
    background-color: white;;
    color: var(--violet);
    border-color: var(--violet);
    padding: 10px 60px;
    border-radius: 20px;
    font-weight: 400;
    margin-bottom: 50px; 
}

button:hover{
    background-color: var(--magenta);
    color: white; 
}


.container{
    width: 315px;
}

.logo img{
    width: 120px;
    height: 27.9px;
    margin-bottom: 50px;
}

.image {
    width: 315px;
    height: 225px;
}

.image img{
    width: 315px;
    height: 225px; 
    margin-bottom: 50px;

}

.button-div{
    display: flex;
    justify-content: center;

}

.social {
    display: flex;
    justify-content: center;

}

.icon{
    margin-left: 10px;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.icon:hover{
    color: var(--magenta); 
}

@media screen and (min-width: 1000px) {

    body{
        background-image: url("./images/bg-desktop.svg");
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 40px;
        margin-left: 40px;
    }

    h2{
        margin-right: 400px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    p{
        text-align: left;
        margin-left: 50px;
        margin-right: 200px; 
    }

     .image img{
        width: 709px;
        height: 506px;
    }

    .container{
       width: 1440px;
    }

    .body{
        display: flex; 
        flex-direction: row;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    .image{
        width: 709px;
        height: 506px;
    }

    .action{
        width: 709px;
        margin-top: 50px;
    }

    .button-div{
        justify-content: flex-start;
        margin-left: 50px;
    }

    .social{
        justify-content: flex-end ;
        margin-right: 300px;
    }


}

